/* General Page Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../static/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #070707;
}

/* Top Layout Panel */
.header {
    display: flex;
    align-items: center;
    padding: 25px 20px;
    background: linear-gradient(to right, lightblue, lavender);
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Left Side (Music Application) */
.header .left {
    font-weight: bold;
    margin-right: 970px;
}

/* Right Side (Profile / Logout) */
.header .right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 100px;
}
